In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('india_housing_prices.csv')

In [3]:
df.head(2)

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction

In [4]:
df['State'].unique()

array(['Tamil Nadu', 'Maharashtra', 'Punjab', 'Rajasthan', 'West Bengal',
       'Chhattisgarh', 'Delhi', 'Jharkhand', 'Telangana', 'Karnataka',
       'Uttar Pradesh', 'Assam', 'Uttarakhand', 'Bihar', 'Gujarat',
       'Haryana', 'Andhra Pradesh', 'Madhya Pradesh', 'Kerala', 'Odisha'],
      dtype=object)

In [5]:
df.groupby('State')['Property_Type'].value_counts().sort_values()

State           Property_Type
Odisha          Independent House    4035
Bihar           Independent House    4073
Delhi           Apartment            4076
Maharashtra     Apartment            4082
Gujarat         Apartment            4086
Haryana         Villa                4088
Punjab          Apartment            4092
Rajasthan       Apartment            4099
Haryana         Apartment            4101
Karnataka       Apartment            4103
Uttarakhand     Apartment            4113
Andhra Pradesh  Villa                4113
West Bengal     Independent House    4124
Haryana         Independent House    4125
Kerala          Apartment            4127
Uttar Pradesh   Apartment            4134
Chhattisgarh    Apartment            4134
Telangana       Apartment            4136
Uttarakhand     Independent House    4137
Uttar Pradesh   Villa                4139
Rajasthan       Villa                4142
Madhya Pradesh  Independent House    4143
Karnataka       Villa                4143
Madhya Pradesh  Villa                4146
Bihar           Villa                4147
                Apartment            4149
Jharkhand       Villa                4152
                Independent House    4152
Assam           Independent House    4152
Telangana       Villa                4153
Delhi           Independent House    4153
Chhattisgarh    Independent House    4156
Assam           Villa                4157
Tamil Nadu      Independent House    4159
Rajasthan       Independent House    4161
Madhya Pradesh  Apartment            4162
Chhattisgarh    Villa                4166
Andhra Pradesh  Apartment            4168
Kerala          Villa                4170
Jharkhand       Apartment            4176
Karnataka       Independent House    4178
Punjab          Independent House    4181
Andhra Pradesh  Independent House    4181
Assam           Apartment            4187
Kerala          Independent House    4190
Maharashtra     Villa                4204
Gujarat         Villa                4224
Tamil Nadu      Villa                4234
Uttar Pradesh   Independent House    4235
Tamil Nadu      Apartment            4236
Punjab          Villa                4243
West Bengal     Villa                4244
Maharashtra     Independent House    4247
Telangana       Independent House    4250
Uttarakhand     Villa                4251
West Bengal     Apartment            4254
Gujarat         Independent House    4268
Odisha          Villa                4305
Delhi           Villa                4323
Odisha          Apartment            4341
Name: count, dtype: int64

In [6]:
df.groupby('Property_Type')['State'].count()

Property_Type
Apartment            82956
Independent House    83300
Villa                83744
Name: State, dtype: int64

In [7]:
groupdata = df.groupby(['State','Property_Type']).size().unstack()

In [9]:
# groupdata.dtype

In [10]:
# groupdata.plot(kind = 'pie',subplots=True)

In [11]:
df.head()

,ID,State,City,Locality,Property_Type,BHK,Size_in_SqFt,Price_in_Lakhs,Price_per_SqFt,Year_Built,...,Age_of_Property,Nearby_Schools,Nearby_Hospitals,Public_Transport_Accessibility,Parking_Space,Security,Amenities,Facing,Owner_Type,Availability_Status
0,1,Tamil Nadu,Chennai,Locality_84,Apartment,1,4740,489.76,0.10,1990,...,35,10,3,High,No,No,"Playground, Gym, Garden, Pool, Clubhouse",West,Owner,Ready_to_Move
1,2,Maharashtra,Pune,Locality_490,Independent House,3,2364,195.52,0.08,2008,...,17,8,1,Low,No,Yes,"Playground, Clubhouse, Pool, Gym, Garden",North,Builder,Under_Construction
2,3,Punjab,Ludhiana,Locality_167,Apartment,2,3642,183.79,0.05,1997,...,28,9,8,Low,Yes,No,"Clubhouse, Pool, Playground, Gym",South,Broker,Ready_to_Move
3,4,Rajasthan,Jodhpur,Locality_393,Independent House,2,2741,300.29,0.11,1991,...,34,5,7,High,Yes,Yes,"Playground, Clubhouse, Gym, Pool, Garden",North,Builder,Ready_to_Move
4,5,Rajasthan,Jaipur,Locality_466,Villa,4,4823,182.90,0.04,2002,...,23,4,9,Low,No,Yes,"Playground, Garden, Gym, Pool, Clubhouse",East,Builder,Ready_to_Move

In [ ]:
df.replace('NULL',np.nan)